<div class="bg-img-principal">
<app-menu></app-menu>
<button *ngIf="gStaticVet == true || gStaticAdmin == true" routerLink="/register-product" class="button-86">Registrar Producto</button>

<div class="container bg-light">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" class="text-center">
          <td>{{product.nameProduct}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantityProduct}}</td>
          <td>
            <button *ngIf="gStaticVet == true || gStaticAdmin == true" class="btn">Editar</button>
            <button *ngIf="gStaticVet == true || gStaticAdmin == true" class="btn" style="margin-left: 10px;">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
