.button-86 {
  margin: 5%;
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: 10px;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #8b79e6;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.example-card {
  max-width: 400px;
}

table {
  width: 100%;
}
.card {
  margin:20px 5px 20px 5px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 45%;
  background: rgb(175, 143, 255);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.bg-img-principal {
	background-image: url("https://media.istockphoto.com/id/1085030172/es/foto/veterinario-hembra-con-un-perro.jpg?s=1024x1024&w=is&k=20&c=cQ_5lo54rfZfjGvs1Nq6B3y7GhP2nY_4j6GfY5JEMxk=");
	background-size: cover;
	height: 650px;
	background-position: center center;
}
