<app-menu></app-menu>
<div id="popup" class="overlay">
  <div id="popupBody">
      <h2>Informacion de contacto</h2>
      <a id="cerrar" href="#">&times;</a>
      <ul class="aboutUs">
        <li class="list-group-item">
          <a><i class="fa fa-map-marker me-3"></i> brrio pele calle 13-14 mnz 13</a>
        </li>
        <li class="list-group-item">
          <a href=" mailto:veterinariaCerbero@gmail.com" title="Send me an email">
          <i class="fa fa-envelope me-3"></i>veterinariaLittlefriends@gmail.com</a>
        </li>
        <li class="list-group-item">
          <a><i class="fa fa-phone me-3"></i>(033)12345678</a>
        </li>
        <li class="list-group-item">
          <a>© 2023 Copyright</a>
        </li>
      </ul>
  </div>
</div>



	<!-- INICIO SECCIÓN PRINCIPAL -->
	<section class="container-fluid">

		<div class="row bg-img-principal align-items-center">

			<div class="offset-5 col-6 bg-light p-3 d-none d-lg-block">

        <p></p>
				<h3 class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu 🐕</h3>
				<p>
					Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para su mascota.
				</p>
				<p>
					Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre disponibles para darte el mejor servicio.
				</p>
			</div>


			<div class="col-10 mx-auto bg-light p-3 d-block d-lg-none">
				<h3 class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu 🐕</h3>
				<p>
					Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para su mascota.
				</p>
				<p>
					Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre disponibles para darte el mejor servicio.
				</p>
			</div>

		</div>

	</section>
	<!-- FIN SECCIÓN PRINCIPAL -->


	<!-- INICIO SECCIÓN NOSOTROS-->

	<section class="container-fluid bg-color-rosa p-3" id="nosotros">

		<h4 class="text-white text-center p-3">
			¿Quiénes somos?
		</h4>

		<hr class="hrblanco">

		<div class="row  align-items-center">
			<div class="col-12 col-lg-6">
				<img src="https://media.istockphoto.com/id/1299016789/es/foto/tus-besos-son-tan-cosquillosos.jpg?s=1024x1024&w=is&k=20&c=w5AGxz-Y2jDyfc9aQxbEQSUX6Z9PwuVkxF4RTGQp2mo=" class="img-fluid p-3" alt="nosotros">
			</div>
			<div class="col-12 col-lg-6 text-white p-3">
				<h4 class="my-3">
					Nosotros:
				</h4>
				<p>
          En nuestra veterinaria, nos enorgullece ofrecer una atención integral y de
          calidad para tus queridas mascotas. Nuestro equipo de veterinarios altamente
          capacitados y amantes de los animales está comprometido con su bienestar. Desde
          servicios médicos y quirúrgicos hasta cuidados preventivos y especializados,
          estamos aquí para brindarles el mejor cuidado posible. Nos preocupamos por cada
          mascota como si fuera propia, proporcionando un ambiente cálido y acogedor donde
          se sientan seguros y amados. Confía en nosotros para cuidar a tu compañero peludo
          con el máximo respeto y dedicación.
				</p>

				<p class="text-center">
				</p>
			</div>
		</div>
	</section>

	<!-- FIN SECCIÓN NOSOTROS-->


	<!-- INICIO SECCIÓN SERVICIOS-->
	<section class="container-fluid" id="servicios">

		<h4 class="text-center p-3 font-color-general">
			Servicios
		</h4>

		<hr class="hrazul">

		<div class="row">
			<div class="col-12 col-lg-4">
				<h5 class="font-color-general text-center p-3">Nutrición</h5>
				<img src="https://media.istockphoto.com/id/1401589574/es/foto/enlace-de-pitbull-con-veterinario-en-la-sala-de-consulta.jpg?s=1024x1024&w=is&k=20&c=2sdd-J4aUY2D1A-HTMrlsTod-P47CimCHhU2uyCpkRg=" class="img-fluid" alt="imagen nutricion">
				<p class="p-3">
          En nuestra veterinaria, ofrecemos un servicio de alimentación especializado para mascotas,
          cuidadosamente diseñado para satisfacer sus necesidades nutricionales. Contamos con una
          variedad de opciones de alimentos de alta calidad que promueven la salud y el bienestar
          de tus queridos compañeros peludos.
				</p>

			</div>

			<div class="col-12 col-lg-4">
				<h5 class="font-color-general text-center p-3">Chequeo General</h5>
				<img src="https://media.istockphoto.com/id/1341357630/es/foto/veterinario-con-t%C3%A9cnico-examina-perro-mira-al-o%C3%ADdo.jpg?s=1024x1024&w=is&k=20&c=oH8IWyg7JGPi6O8Dvh9Cc1NwJKb5GRzkB4hZoIt8UZ0=" class="img-fluid" alt="imagen chequeo">
				<p class="p-3">
          Nuestro servicio de chequeo general en la veterinaria brinda atención integral a tus mascotas.
          Nuestro equipo de veterinarios altamente capacitados realiza exámenes exhaustivos, evaluando su
          estado de salud, detectando posibles enfermedades y brindando recomendaciones personalizadas
          para su bienestar. Cuidamos de tus mascotas como si fueran nuestras propias.
				</p>
			</div>

			<div class="col-12 col-lg-4">
				<h5 class="font-color-general text-center p-3">Masaje</h5>
				<img src="https://media.istockphoto.com/id/1341357629/es/foto/veterinario-y-t%C3%A9cnico-perro-en-mesa-de-examen.jpg?s=1024x1024&w=is&k=20&c=RDXSpJgBQ440NWoiuMZk5CNyi3aKPUUI7J-h6Lt0HxY=" class="img-fluid" alt="imagen masaje">
				<p class="p-3">
					En nuestra veterinaria, ofrecemos un servicio de masaje terapéutico para mascotas. Nuestros
          profesionales capacitados en terapia de masajes alivian el estrés, promueven la relajación y
          mejoran la circulación sanguínea, brindando a tus mascotas una experiencia de bienestar
          completa y reconfortante.
				</p>
			</div>

		</div>
	</section>

	<!-- FIN SECCIÓN SERVICIOS-->

	<!-- INICIO SECCIÓN FOOTER-->
	<footer class="container-fluid bg-color-info p-3 font-color-general text-center">
    <a href="#popup" class="button-86">Contactanos</a>
		<p class="m-3">
			littlefriends © 2023 - Todos los derechos reservados
		</p>
	</footer>

	<!-- FIN SECCIÓN FOOTER-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


